/***********************************TAG SELECTOR*********************************/
body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 1.5rem;
}

p {
    color: #8f8f8f;
  }
  

/***********************************class SELECTOR*********************************/
.container-fluid {
  padding: 3% 15%;
}

/************navbar ********/
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 200;
}

/* Download-button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title-image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.feature-icon{
    color: #ef8172;
    margin: 5%;
}

.feature-icon:hover{
    color: #ff4c68;
}


/***********************************ID SELECTOR*********************************/
#title {
  background-color: #ff4c68;
  color: #fff;
}

#features {
  padding: 7% 15%;
}
